<h3>Виджет корзины</h3>
{% if cart and cart.order.orderedProducts.count %}
    <table>
        <tr>
            <th>Название</th>
            <th>Цена</th>
        </tr>
        {% for orderedProduct in cart.order.orderedProducts %}
            <tr>
                <td>
                    {{ orderedProduct.product.heading }}<br/>
                    {{ orderedProduct.quantity }} по {{ orderedProduct.price }}&nbsp;грн.
                </td>
                <td>{{ orderedProduct.calculateTotalPrice }}&nbsp;грн.</td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <a href="{{ path('cart_clear') }}">Очистить</a>
    </div>
{% else %}
    <p>Ваша корзина пуста</p>
    <div>Перейдите в <a href="{{ path('product_list') }}">магазин</a> чтобы добавить товар</div>
{% endif %}