{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block content -%}
    <div class="breadcrumbs root">
        <div class="col-xs-1-1">
            <a href="{{ path('home') }}">Главная</a>
            <span class="separator">&gt;</span>
            <span>Корзина</span>
        </div>
    </div>

    <div class="product-category-page root row">
        <div class="product-filter col">
            {{ bw_cart_render() }}
        </div>
        <div class="product-category products-list items-list page-content row">
            <div class="col">
                <h1><i class="icon-shopping-cart"></i> Корзина</h1>
                {% if cart and cart.items.count %}
                    <table>
                        <tr>
                            <th>№</th>
                            <th>Название</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                        {% for item in cart.items %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    {{ item.product.heading }}<br/>
                                    {{ item.price }}&nbsp;грн.
                                </td>
                                <td>
                                    <input type="number" min="1" max="99" value="{{ item.quantity }}" />
                                </td>
                                <td>{{ item.calculateTotalPrice }}&nbsp;грн.</td>
                                <td>{{ bw_remove_from_cart_form_render(item) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div>
                        <a href="{{ path('cart_clear') }}">Очистить корзину</a>
                    </div>
                {% else %}
                    <h2>Ваша корзина пуста</h2>
                    <div>Вернитесь в <a href="{{ path('product_list') }}">магазин</a> чтобы добавить товар</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
