{% block form_row -%}
    <div class="filter-field">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}

{% block choice_widget_expanded -%}
    {% set attr = {'class': 'field-params'} %}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="field-param">
                {{- form_widget(child) -}}
                {{- form_label(child) -}}
            </div>
        {% endfor -%}
    </div>
{% endblock choice_widget_expanded %}

{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}

        {%- set label_attr = label_attr|merge({'class': 'row'}) -%}
        {% if compound -%}
            <div class="field-name">{{ label|trans({}, translation_domain) }}:</div>
        {%- else -%}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <span class="field-param-name col">{{ label|trans({}, translation_domain) }}</span>
            <span class="results-count col-r">({{ random(20) }})</span>
            </label>
        {%- endif %}
    {%- endif %}
{%- endblock form_label %}
