{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% form_theme form _self %}

{% block choice_widget_expanded -%}
    {% set attr = {'class': 'field-params'} %}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="field-param">
                <span class="field-param-name col">
                    {{- form_widget(child) -}}
                    {{- form_label(child) -}}
                </span>
                <span class="results-count col-r">(5)</span>
            </div>
        {% endfor -%}
    </div>
{% endblock choice_widget_expanded %}

{% block title %}Список всех товаров {{ parent() }}{% endblock %}

{% block content -%}
    <div class="breadcrumbs root">
        <div class="col-xs-1-1">
            <a href="#">Главная</a>
            <span class="separator">&gt;</span>
            <a href="#">Волосы</a>
            <span class="separator">&gt;</span>
            <span>Волосы на заколках</span>
        </div>
    </div>

    <div class="product-category-page root row">
        <div class="product-filter col">
            <div class="h4 title dark">Фильтр:</div>
            ===========DEMO==========
            <div class="filter-field">
                <div class="field-name">Цена:</div>
                <div class="field-params">
                    <div class="field-param">
                        <input type="checkbox" id="price-1">
                        <label for="price-1" class="row">
                            <span class="field-param-name col">1 - 500</span>
                            <span class="results-count col-r">(5)</span>
                        </label>
                    </div>
                    <div class="field-param">
                        <input type="checkbox" id="price-2">
                        <label for="price-2" class="row">
                            <span class="field-param-name col">500 - 1000</span>
                            <span class="results-count col-r">(5)</span>
                        </label>
                    </div>
                    <div class="field-param">
                        <input type="checkbox" id="price-3">
                        <label for="price-3" class="row">
                            <span class="field-param-name col">1000 - 1500</span>
                            <span class="results-count col-r">(5)</span>
                        </label>
                    </div>
                </div>
            </div>
            =========================
            {{ form(form) }}
        </div>
        <div class="product-category products-list items-list page-content row">
            <div class="col">
                <h1>Все товары</h1>
                <div class="row level-row">
                    <div class="sort-condition col">
                        Сортировать по: 
                    </div>

                    <div class="products-count col-r">
                        Всего товаров: {{ entities|length }}
                    </div>
                </div>
                <div class="products-list row level-row">
                    {% for entity in entities %}
                        {% include 'BWShopBundle:Product:row.html.twig' %}

                        {% if loop.index % 3 == 0 %}
                            <div class="clear visible-xs visible-s visible-m"></div>
                        {% endif %}

                        {% if loop.index % 4 == 0 %}
                            <div class="clear visible-l"></div>
                        {% endif %}

                        {% if loop.index % 5 == 0 %}
                            <div class="clear visible-xl"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
