{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}{{ entity.title ? entity.title : entity.heading }}{% endblock %}

{% block metaDescription %}{{ entity.metaDescription }}{% endblock %}

{% block content -%}
    <div class="breadcrumbs root">
        <div class="col-xs-1-1">
            <a href="{{ path('home') }}">Главная</a>
            <span class="separator">&gt;</span>
            <a href="{{ path('product_list') }}">Все товары</a>
            {% if entity.category and entity.category.parent %}
                <span class="separator">&gt;</span>
                <a href="{{ app.request.uriForPath(entity.category.parent.route.path) }}">{{ entity.category.parent.heading }}</a>
            {% endif %}
            {% if entity.category %}
                <span class="separator">&gt;</span>
                <a href="{{ app.request.uriForPath(entity.category.route.path) }}">{{ entity.category.heading }}</a>
            {% endif %}
            <span class="separator">&gt;</span>
            <span>{{ entity.heading }}</span>
        </div>
    </div>

    <div class="product-page page-content root row">
        <div class="col-xs-1-1">
            <h1>{{ entity.heading }}</h1>

            <div class="product-card row level-row">                
                {% if entity.productImages.count %}
                    <div class="col-xs-5-12">
                        <div class="slider" ng-controller="SliderController as sliderCtrl">
                            <div class="slides">
                                <img  src="{{ asset(entity.productImages.first.image.webPath)|imagine_filter('large_thumb') }}" alt="{{ entity.productImages.first.image.alt }}" title="{{ entity.productImages.first.image.title }}" ng-repeat="slide in sliderCtrl.slides" ng-src="{{'{{ slide.mediumImage }}'}}" ng-show="$index === sliderCtrl.currentSlide" alt="">

                                <div class="slider-back back" ng-click="sliderCtrl.back()"></div>
                                <div class="slider-forward forward" ng-click="sliderCtrl.forward()"></div>
                            </div>
                            <div class="slide-pager">
                                <div class="slide-pager-item" ng-class="{'current-slide': sliderCtrl.checkCurrentSlide($index)}" ng-repeat="slide in sliderCtrl.slides">
                                    <img src="" ng-src="{{'{{ slide.smallImage }}'}}" ng-click="sliderCtrl.setCurrentSlide($index)" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-xs-7-12">
                    {% if entity.category %}
                        <div class="category">
                            {#Категория: <a href="{{ path('category_show_by_slug', {'slug': entity.category.slug}) }}">#}
                            Категория: <a href="{{ app.request.uriForPath(entity.category.route.path) }}">
                                {{ entity.category.heading }}
                            </a>
                        </div>
                    {% endif %}
                    {% if entity.vendor %}
                        <div class="vendor">
                            Производитель: <a href="{{ path('vendor_show_by_slug', {'slug': entity.vendor.slug}) }}">
                                {{ entity.vendor.heading }}
                            </a>
                            {% if entity.vendor.image %}
                                <div class="vendor_image">
                                    <a href="{{ path('vendor_show_by_slug', {'slug': entity.vendor.slug}) }}">
                                        <img src="{{ asset(entity.vendor.image.webPath)|imagine_filter('small_thumb') }}"
                                             alt="{{ entity.vendor.image.alt }}"
                                             title="{{ entity.vendor.image.title }}"
                                                />
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="sku">
                        Артикул: {{ entity.sku }}
                    </div>

                    <div class="short-description">
                        Краткое описание: {{ entity.shortDescription|raw }}
                    </div>

                    {% include 'BWShopBundle:Product:price-block.html.twig' %}

                    <div class="add-to-cart">
                        <form action="">
                            <button type="submit" class="add-to-cart-button">Купить</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="product-details row level-row">
                <div class="col-xs-3-4" ng-controller="TabController as tabCtrl">
                    <ul class="tabs">
                        <li ng-class="{'active-tab': tabCtrl.isCurrentTab(0)}">
                            <a href="" ng-click="tabCtrl.setCurrentTab(0)">описание</a>
                        </li>
                        <li ng-class="{'active-tab': tabCtrl.isCurrentTab(1)}">
                            <a href="" ng-click="tabCtrl.setCurrentTab(1)">характеристики</a>
                        </li>
                        <li ng-class="{'active-tab': tabCtrl.isCurrentTab(2)}">
                            <a href="" ng-click="tabCtrl.setCurrentTab(2)">отзывы</a>
                        </li>
                    </ul>

                    <div class="product-description ng-cloak" ng-show="tabCtrl.isCurrentTab(0)">
                        {{ entity.description|raw }}
                    </div>

                    <div class="ng-cloak" ng-show="tabCtrl.isCurrentTab(1)">
                        <div class="row level-row">
                            <div class="col-xs-1-2">Сharacteristic-name</div>
                            <div class="col-xs-1-2">Сharacteristic-val</div>
                        </div>
                        <div class="row level-row">
                            <div class="col-xs-1-2">Сharacteristic-name</div>
                            <div class="col-xs-1-2">Сharacteristic-val</div>
                        </div>
                        <div class="row level-row">
                            <div class="col-xs-1-2">Сharacteristic-name</div>
                            <div class="col-xs-1-2">Сharacteristic-val</div>
                        </div>
                        <div class="row level-row">
                            <div class="col-xs-1-2">Сharacteristic-name</div>
                            <div class="col-xs-1-2">Сharacteristic-val</div>
                        </div>
                    </div>

                    <div class="reviews-list ng-cloak" ng-show="tabCtrl.isCurrentTab(2)">
                        <div class="review row ">
                            <div class="author-image col">
                                <img src="images/reviewer.jpg" alt="">
                            </div>
                            <div class="data col">
                                <div class="author col">Ирина Иванова</div>
                                <div class="date col-r">8 сен 2014</div>
                                <div class="content clear">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sequi corporis eos recusandae error placeat totam minima, aliquam, adipisci. Adipisci qui illum quaerat, beatae ipsam quasi, laborum placeat debitis soluta.
                                </div>
                            </div>
                            <div class="replies clear">
                                <div class="reply">
                                    <div class="author-image col">
                                        <img src="images/replier.png" alt="">
                                    </div>
                                    <div class="data col">
                                        <div class="author col">Admin StarLook</div>
                                        <div class="date col-r">8 сен 2014</div>
                                        <div class="content clear">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sequi corporis eos recusandae error placeat totam minima, aliquam, adipisci. Adipisci qui illum quaerat, beatae ipsam quasi, laborum placeat debitis soluta.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="review row ">
                            <div class="author-image col">
                                <img src="images/reviewer.jpg" alt="">
                            </div>
                            <div class="data col">
                                <div class="author col">Ирина Иванова</div>
                                <div class="date col-r">8 сен 2014</div>
                                <div class="content clear">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sequi corporis eos recusandae error placeat totam minima, aliquam, adipisci. Adipisci qui illum quaerat, beatae ipsam quasi, laborum placeat debitis soluta.
                                </div>
                            </div>
                        </div>
                        <div class="review row ">
                            <div class="author-image col">
                                <img src="images/reviewer.jpg" alt="">
                            </div>
                            <div class="data col">
                                <div class="author col">Ирина Иванова</div>
                                <div class="date col-r">8 сен 2014</div>
                                <div class="content clear">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sequi corporis eos recusandae error placeat totam minima, aliquam, adipisci. Adipisci qui illum quaerat, beatae ipsam quasi, laborum placeat debitis soluta.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="also-bought col-xs-1-4">
                    <div class="h4 title dark">С этим товаром заказывают</div>
                    <div class="product-item">
                        <a href="product.html" class="product-preview">
                            <img src="images/demo-prod-2.jpg" alt="">
                        </a>
                        <div class="product-name"><a href="product.html">Хвост накладной на ленте из искусственных термо-волос оттенок №2 темно-шоколадный</a></div>
                    </div>
                    <div class="product-item">
                        <a href="product.html" class="product-preview">
                            <img src="images/demo-prod-3.jpg" alt="">
                        </a>
                        <div class="product-name"><a href="product.html">Натуральные европейские вьющиеся волосы на трессе длиной 70 см оттенок №613</a></div>
                    </div>
                    <div class="product-item">
                        <a href="product.html" class="product-preview">
                            <img src="images/demo-prod-2.jpg" alt="">
                        </a>
                        <div class="product-name"><a href="product.html">Хвост накладной на ленте из искусственных термо-волос оттенок №2 темно-шоколадный</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
