<div class="user-widget" ng-controller="DropdownController as ddCtrl">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>
            Вы авторизированы как: 
            <strong title="{{ app.user.email }}">
                {% if app.user.profile %}
                    {% if app.user.profile.surname or app.user.profile.name %}
                        {{ app.user.profile.surname ? app.user.profile.surname }}
                        {{ app.user.profile.name ? app.user.profile.name }}
                    {% else %}
                        {{ app.user.username }}
                    {% endif %}
                {% else %}
                    {{ app.user.username }}
                {% endif %}
            </strong>
            | <a href="{{ path('user_sign_out') }}">Выйти</a><br> 
            {% if is_granted('ROLE_ADMIN') %}
                env: <a href="{{ app.request.getBasePath() ~ (app.request.getLocale() ? '/'~ app.request.getLocale ~'/' : '') }}">prod</a>
                / <a href="{{ app.request.getBasePath() ~'/app_dev.php'~ (app.request.getLocale() ? '/'~ app.request.getLocale ~'/' : '') }}">dev</a>
                | <a href="{{ path('admin') }}">Панель управления</a> | 
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('user_profile_personal') }}">Личный кабинет</a>
            {% endif %}
        </div>
    {% else %}
        <div class="user-menu menu horisontal">
            <ul>
                <li ng-class="{'active-dd': ddCtrl.showElement}"><a href="#" ng-click="ddCtrl.toggleElVisibility()">Вход</a></li>
                <li><a href="{{ path('user_sign_up') }}" class="registration">Зарегистрироваться</a></li>
            </ul>
        </div>
        <form id="auth-form" class="auth-form ng-cloak" ng-show="ddCtrl.showElement" action="{{ path('user_sign_in_check') }}" method="POST">
            <div class="form-field">
                <input id="email" type="text" name="_username" size="40" placeholder="e-mail or login..." required="required">
            </div>
            <div class="form-field">
                <input id="password" type="password" name="_password" size="40" placeholder="password..." required="required">
            </div>
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
            #}
            <input type="hidden" name="_target_path" value="{{ url('home') }}" />            
            <div class="forgot-pass">
                <a href="{{ path('user_password_reset') }}" class="reset-password">Забыли пароль?</a>
            </div>
            <div class="form-field form-submit">
                <button type="submit">Войти</button>
            </div>
            <div class="social-auth">
                {# Авторизация через соц.сети #}
                {% include 'BWUserBundle:User/social:sign-in-thumbs.html.twig' %}
            </div>
        </form>
    {% endif %}
</div>