{% macro renderMenu(items, level = 1) %}
    <ul class="level-{{ level }}">
        {% for item in items %}
            {{ _self.renderMenuItem(item, level) }}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro renderMenuItem(item, level = 1) %}
    <li class="item-{{ item.id }} {{ item.class }}">
        <a href="{{ _self.buildItemUri(item) }}" data-id="{{ item.id }}" title="{{ item.title }}" {% if item.blank %}target="_blank"{% endif %}>
            {{- item.name -}}
        </a>
        {% if item.children %}
            {{ _self.renderMenu(item.children, level + 1) }}
        {% endif %}
    </li>
{% endmacro %}

{% macro buildItemUri(item) -%}
    {% spaceless %}
        {% if item.route %}
            {{ app.request.uriForPath(item.route.path) }}
        {% else %}
            {% if '://' in item.uri %}
                {{ item.uri }}
            {% else %}
                {{ app.request.uriForPath(item.uri) }}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{%- endmacro %}

<div class="menu menu-{{ menu.id }} horisontal" data-id="{{ menu.id }}">
    {% if itemTree -%}
        <ul>
            {% for item in itemTree %}
                <li class="item-{{ item.id }} {{ item.class }}">
                    <a href="{{ _self.buildItemUri(item) }}" data-id="{{ item.id }}" title="{{ item.title }}" {% if item.blank %}target="_blank"{% endif %}>
                        {{- item.name }}
                    </a>
                    {% if item.children %}
                        <div class="submenu-container row">
                            {% set prevColumn = 0 %}
                            {% set maybeNeedToClose = 0 %}
                            {% set isOpen = 0 %}

                            {% set groupedItems = [] %}
                            {% for index, childItem in item.children %}
                                {% if loop.first or ((not isOpen) and item.children[index - 1].column != childItem.column) %}
                                    <div class="col-xs-1-4">
                                    {#debug_open_tag{{ loop.index0 }}#}
                                    {% set isOpen = 1 %}
                                {% endif %}

                                <div class="level-2-container">
                                    <a href="{{ _self.buildItemUri(childItem) }}">
                                        {{- childItem.name -}}
                                    </a>
                                    {% if childItem.children %}
                                        {{ _self.renderMenu(childItem.children) }}
                                    {% endif %}
                                </div>

                                {% if loop.last or (isOpen and item.children[index + 1].column != childItem.column) %}
                                    {#debug_close_tag{{ loop.index0 }}#}
                                    </div>
                                    {% set isOpen = 0 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {%- endif %}
</div>
