{% macro renderMenu(items, level = 1) %}
    <ul class="level-{{ level }}">
        {% for item in items %}
            {{ _self.renderMenuItem(item, level) }}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro renderMenuItem(item, level = 1) %}
    <li class="item-{{ item.id }} {{ item.class }}">
        <a href="{% spaceless %}
            {% if item.route %}
                {{ app.request.uriForPath(item.route.path) }}
            {% else %}
                {% if '://' in item.uri %}
                    {{ item.uri }}
                {% else %}
                    {{ app.request.uriForPath(item.uri) }}
                {% endif %}
            {% endif %}
        {% endspaceless %}" data-id="{{ item.id }}" title="{{ item.title }}" {% if item.blank %}target="_blank"{% endif %}>
            {{ '- '|repeat(item.level) -}}{{- item.name }}
        </a>
        {% if item.children %}
            {{ _self.renderMenu(item.children, level + 1) }}
        {% endif %}
    </li>
{% endmacro %}

<div class="menu-{{ menu.id }}" data-id="{{ menu.id }}">
    {% if itemTree -%}
        {% if menu.name -%}
            <h3>{{ menu.name }}</h3>
        {%- endif %}
        {{ _self.renderMenu(itemTree) }}
    {%- endif %}
</div>
