{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Изменение пароля пользователя{% endblock %}

{% block content %}
    <div class="change-password page-content root">
        <div class="row">
            <div class="col-xs-1-2 col-l-5-12">
                <h1>Изменение пароля</h1>
                {{ form_start(form) }}
                    {% if form_errors(form) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div>
                        <div class="form-field wide-field">
                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control ', 'placeholder': 'Новый пароль'}} ) }}
                        </div>
                        <div class="form-field wide-field">
                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control ', 'placeholder': 'Подтверждение пароля'}} ) }}
                        </div>
                        {% if form_errors(form.password.first) or form_errors(form.password.second) %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.password.first) }}
                                {{ form_errors(form.password.second) }}
                            </div>
                        {% endif %}
                    </div>

                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary icon-save before-padding'}, 'label': 'Сохранить новый пароль'}) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}