{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Авториация на сайте{% endblock %}

{% block content %}
    <div class="reset-password page-content root">
        <div class="row">
            <div class="col-xs-1-2 col-l-5-12">
                <h1>Сброс пароля</h1>
                {{ form_start(form) }}
                    {% if form_errors(form) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div class="form-field wide-field">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail'} }) }}
                        
                    </div>
                    {% if form_errors(form.email) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form.email) }}
                        </div>
                    {% endif %}

                    <div class="form-field">
                        {{ form_widget(form.reset, {'attr': {'class': 'btn btn-primary icon-save before-padding'}, 'label': 'Сбросить пароль'}) }}
                    </div>

                    <div>
                        Или попробовать еще раз <a href="{{ path('user_sign_in') }}">авторизоваться</a>.
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}