{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Регистрация на сайте{% endblock %}

{% block content %}
    <div class="registration page-content root">
        <div class="row">
            <div class="col-xs-1-2 col-l-5-12">
                <h1>Регистрация</h1>
                {{ form_start(form) }}
                    {% if form_errors(form) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
            
                    <div class="form-field wide-field">
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Логин'} }) }}                        
                    </div>

                    {% if form_errors(form.username) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form.username) }}
                        </div>
                    {% endif %}
            
                    <div class="form-field wide-field">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control ', 'placeholder': 'E-mail'} }) }}                        
                    </div>

                    {% if form_errors(form.email) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form.email) }}
                        </div>
                    {% endif %}
            
                    <div>
                        <div class="form-field wide-field">
                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control ', 'placeholder': 'Пароль'} }) }}
                        </div>
                        <div class="form-field wide-field">
                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control ', 'placeholder': 'Подтверждение пароля'} }) }}
                        </div>
                        {% if form_errors(form.password.first) or form_errors(form.password.second) %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.password.first) }}
                                {{ form_errors(form.password.second) }}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="form-field">
                        {{ form_widget(form.register, {'attr': {'class': 'btn btn-primary icon-save before-padding'}, 'label': 'Зарегистрироваться'}) }}
                    </div>

                    <div class="form-field wide-field">
                        Или <a href="{{ path('user_sign_in') }}">авторизоваться</a> как уже зарегистрированый пользователь.
                    </div>
                
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}