{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Авториация на сайте{% endblock %}

{% block content %}
    <div class="sign-in-page page-content root">
        <div class="row">
            <div class="col-xs-1-2 col-l-5-12">
                <h1>Авторизация</h1>
                {% if error %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}

                <form action="{{ path('user_sign_in_check') }}" method="post">
                    <div class="form-field wide-field">
                        {# Авторизация через соц.сети #}
                        {% include 'BWUserBundle:User/social:sign-in.html.twig' %}
                    </div>
                    <div class="form-field wide-field">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Логин" />
                    </div>

                    <div class="form-field wide-field">
                        <input type="password" id="password" name="_password" placeholder="Пароль" />
                    </div>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                    <div class="form-field">
                        <button class="btn btn-default" type="submit">Авторизироваться</button>
                    </div>
                    <div>
                        <a href="{{ path('user_password_reset') }}">Забыли пароль?</a>
                    </div>
                    <div>
                        <a href="{{ path('user_sign_up') }}">Зарегистрироваться</a> как новый пользователь.
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}